:root {
    --color-1: #1d3354;
    --color-2: #467599;
    --color-3: #9ed8db;
    --color-4: #d64045;

}

* {
    background-color: #e9fff9;
    color: var(--color-1);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

/* button styles */
.btn {
    background-color: var(--color-2);
    color: var(--color-3);
    padding: 30px;
    margin: 20px;
    font-size: 1.2em;
}

.next-button {
    display: block;
    margin: auto;
}

/* intro styles */
#intro {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#intro p {
    margin: 0 auto;
    width: 50%;
    text-align: justify;
    padding-bottom: 20px;
}

/* question styles */
.question-section,
.validation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#list-section {
    display:flex;

}

#list-choice {
    display:flex;
    background-color: var(--color-1);
    color: var(--color-3);
    width: 200px;
    height: 15px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#list-choice:hover {
    background-color: var(--color-3);
    color: var(--color-1);
}

#list-choice-clicked {
    display: flex;
    background-color: var(--color-3);
    color: var(--color-1);
    width: 200px;
    height: 15px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}


/* high scores page */
#score-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60vw;
}

#finish-message {
    font-size: 2.5em;
}

#user-score-message {
    font-size: 2.3em;
    padding: 15px;
}

#user-inits {
    font-size: 2.3em;
    display:flex;
    justify-content: space-between;
}

#user-inits input {
    width: 20vw;
    height: 40px;
    display:flex;
    font-size: 25px;
}

::placeholder {
    display: flex;
    text-align: center;
    justify-content: center;
}

/* Final Score Layout */
#empty-space {
    height: 135px;
}

#score-title {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top:0px;
    font-size: 25px;
}

#high-score-row {
    background: var(--color-3);
    width: 300px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.high-score-item {
    padding: 20px;
}

#player {
    width: 50%;
    border: 5px solid var(--color-1);
}

#score {
    width: 50%;
    border: 5px solid var(--color-1);
    text-align: center;
}

#final-options {
    position:absolute;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    top:5px;
    margin: 0 auto;
    width:100vw;
}